<section class="challenges">

  {{#each challenges}} {{#if @first}}
  <h2>{{this.category}}</h2>
  <hr class="{{lowercase this.category}}"> {{/if}}{{/each}}

  <ul>
    {{#each challenges}}
    <a href="/challenge/{{lowercase this.id}}"></a>
    <li class="challenge {{lowercase this.category}}">
      <p>{{this.title}}</p>
      <div class="challenge__author">
        <p class="challenge__author-name">
          {{this.username}}
        </p>
        <p class="challenge__author-time">
          {{this.time}}
        </p>
      </div>
    </li>
    </a>

    {{/each}}
  </ul>
</section>
<section>
  <a href="/add-challenge">
    <button class="challenge__btn">
      <h2>+</h2>
    </button>
  </a>
</section>