<section class="progress__user">
  <img src="https://api.adorable.io/avatars/48/{{username}}" alt="user icon {{username}}" height="48" width="48">
  <h2>Hello {{username}}</h2>
</section>

<p>Please find a list of all your challenges below:</p>

<section class="progress__challenges">
  <ul>
    {{#each userChallenges}}
    <li class="{{lowercase category}}">
      <div class="progress__challenge">
        <h5 class="{{lowercase category}}">{{category}}</h5>
        <p>{{this.title}}</p>
      </div>
      <h4>{{this.total}}</h4>
    </li>
    {{/each}}
  </ul>
</section>